/*-- scss:defaults --*/
// Base document colors
$body-bg: #1F1F1F;
$body-color: #d8d8d8;
$link-color: #75AADB;

// Header
$navbar-bg: #181818;

// Code blocks
$code-block-bg: #282828;
$code-bg: #282828;
$code-color: white;

// Banner
.quarto-title-banner {
    background-color: #181818 !important;
    color: #d8d8d8 !important;
}

h1.title {
    color: #d8d8d8 !important;
}

.navbar-logo {
   filter: invert(1);
}

.dark-invert {
   filter: invert(1);
}

.navbar-title, .menu-text {
    color: #d8d8d8 !important;
}

span.co {
    color: #7fa0a8 !important;
}

.listing-category, .about-link, .quarto-category {
    color: #d8d8d8 !important;
    border-color: #282828 !important;
    background-color: #2f2f2f !important;
}

.listing-category:hover, .about-link:hover, .quarto-category:hover {
    color: #2f2f2f !important;
    border-color: #d8d8d8 !important;
    background-color: #d8d8d8 !important;
}

.quarto-post {
    background-color: #282828 !important;
}

.quarto-post:hover {
    background-color: #2f2f2f !important;
}

pre code {
    color: #ffffff !important;
}

.input-group-text, .form-select, .form-control {
    background-color: #1F1F1F !important;
    border: 1px solid #464646 !important;
}

.callout {
  border-top-right-radius:  0.75rem !important;
  border-bottom-right-radius:  0.75rem !important;
  border-top: #1F1F1F !important;
  border-bottom: #1F1F1F !important;
  border-right: #1F1F1F !important;
  background-color: #282828 !important;
}

